/* Contact Page Header */

:root {
  --kf-orange: #f9941a;
  --kf-red: #cd2d0c;
  --kf-blue: #6786fc;
  --kf-ivory: #fbd291;
  --kf-green: #7ccc2a;
}

@font-face {
  font-family:"Pixel";
  src: url("../assets/PublicPixel.ttf") format("truetype");
}

.page-header {
    background-color: black;
    font-family:"Pixel";
    color: rgb(255, 255, 255);
    text-align: center;
}

.page-header h1 {
    margin-top: 10px;
    font-size: 2.5em;
    font-family: "Pixel";
}

.page-header nav {
    margin-top: 10px;
}

.page-header nav ul {
    list-style: none;
    padding: 0;
}

.page-header nav ul li {
    display: inline;
    margin: 0 15px;
}

.page-header nav a {
    color: rgb(243, 243, 243);
    font-size: 0.8rem;
    text-decoration: none;
    padding: 10px 10px;
    background-color: rgba(44, 38, 35, 0.5);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.page-header nav a:hover {
    background-color: #cd2d0c;
    margin: 0, 0, 0, 0.7;
}

.header-strip {
    height: 30px; 
    background-image:url('../assets/strip.png'); ; 
}

.top-strip {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

.bottom-strip {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}



/* Main Body Font */
body {

    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
}


.main-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.side-animal {
    width: 100px; /* Adjust width to fit your design */
    height: auto; /* Maintain aspect ratio */
}

.left-animal {
    margin-right: 5px; /* Space between the left animal and main content */
}

.right-animal {
    margin-left: 5px;
    transform: scaleX(-1) /* Space between the right animal and main content */
}

.main-content {
    text-align: center;
    padding: 30px;
    max-width: 600px; /* Optional: limit width of main content */
}


/* Styling for the video input section */

.video-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.video-link {
    background-color: var(--kf-ivory);
    font-family: "Pixel";
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add-video-button, .run-button, .go-button {
    font-family: "Pixel";
    cursor: pointer;
    background-color: var(--kf-green);
    color: var(--kf-blue);
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    
}

.add-video-button:hover, .run-button:hover, .go-button:hover {
    background-color: #0e8b2c;
}

.add-video-button[disabled], .submit-button[disabled] {
    background-color: transparent;
    cursor: not-allowed;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.remove-video-button {
    margin-right: 10px;
    width: 60px; 
    height: 30px; 
}

.remove-video-button:hover {
    background-color: #c9302c;
}

.run-button{
    margin-top: 15px;
}

#result-display {
    display: none; /* Hidden by default */
    position: inherit;
    max-width: 300px;
    background-color: var(--kf-ivory);
    color: var(--kf-red);
    font-family: "Pixel";
    font-size: 1rem;
    padding: 10px;
    margin-top: 15px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
