/* Contact Page Header */

:root {
  --kf-orange: #f9941a;
  --kf-red: #cd2d0c;
  --kf-blue: #6786fc;
  --kf-ivory: #fbd291;
  --kf-green: #7ccc2a;
}

@font-face {
  font-family:"Pixel";
  src: url("../assets/PublicPixel.ttf") format("truetype");
}

.page-header {
    color: rgb(255, 255, 255);
    text-align: center;
}

.page-header h1 {
    margin: 0;
    font-size: 2.5em;
    font-family: "Pixel";
}

.page-header nav {
    margin-top: 10px;
}

.page-header nav ul {
    list-style: none;
    padding: 0;
}

.page-header nav ul li {
    display: inline;
    margin: 0 15px;
}

.page-header nav a {
    color: rgb(243, 243, 243);
    font-size: 1.2rem;
    text-decoration: none;
    padding: 10px 10px;
    background-color: rgba(44, 38, 35, 0.5);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.page-header nav a:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Main Body Font */
body {
    background-image: url('../assets/background.png');
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
}

/* Styling for the video input section */
.video-inputs {
    margin: 20px;
    position: relative;
    left: 30%;
}

.video-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.video-link {
    background-color: var(--kf-ivory);
    font-family: "Pixel";
    width: 300px;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add-video-button, .run-button, .submit-button {
    font-family: "Pixel";
    cursor: pointer;
    background-color: var(--kf-green);
    color: var(--kf-blue);
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    
}
.run-button{
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}

.add-video-button:hover, .run-button:hover, .submit-button:hover {
    background-color: #0e8b2c;
}

.add-video-button[disabled], .submit-button[disabled] {
    background-color: transparent;
    cursor: not-allowed;
    max-width: 50%; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.remove-video-button {
    margin-right: 10px;
    width: 60px; 
    height: 30px; 
}

.remove-video-button:hover {
    background-color: #c9302c;
}


.contact-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    font-size: 1.1em;
}

.contact-container p {
    margin: 10px 0;
}

.contact-container .email a {
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
}

.contact-container .email a:hover {
    text-decoration: underline;
}
