<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <title>Video-Sync</title>
</head>
<body>
    <header class="page-header">
        <div class="header-strip top-strip"></div>
        <div class="header-text" style="margin:auto">
          <img src="{{url_for('static',filename='assets/vid-sync.png')}}" width=100% style="margin-top: 10px">
          <a href="https://github.com/ghbrown/vid-sync">GITHUB REPO</a>
        </div>
        <div class="header-strip bottom-strip"></div>
    </header>
    <div class="main-content-wrapper">
        <img src="../static/assets/dragon.png" alt="Left Animal" class="side-animal left-animal">

        <div class="main-content">
            <div class="video-inputs"></div>
            <button onclick="run()" class="run-button">Kick off sync</button>
        </div>

        <img src="../static/assets/dragon.png" alt="Right Animal" class="side-animal right-animal">
    </div>

    <div class="main-content-wrapper" style="padding:5px">
      <div class="main-content" style="padding:5px">
        <img class="loading-img hidden" id="loading-image" src="../static/assets/loading.gif"></img>
        <div id="result-display" class="result-display hidden"></div>
        <button id="result-button" class="result-button hidden" >Go</button>
        <p style="text-align:center;color:white;font-family:'Pixel'">
          © 2024 TEAM O
          <br>
          © 2024 HACKTX
        </p>
      </div>
    </div>


    <script src="../static/js/main.js"></script>

    <footer class="page-footer">
        <div class="footer-strip"></div>
    </footer>
</body>
</html>
