<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <title>Video-Sync</title>
</head>
<body>
    <header class="page-header">
        <h1>Video-Sync</h1>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div class="video-inputs"></div>
    <button onclick="run()" class="run-button">Run</button>

    <!-- Result Display -->
    <div id="result-display"></div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
